name: Build Container Image

on:
  workflow_dispatch:
  push:
    branches: [ main ]
    paths:
      - containers.conf
      - Dockerfile
      - .github/workflows/build.yml
  schedule:
    - cron: '0 3 * * *' # At 02:00 AM

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3
        with:
          platforms: linux/amd64,linux/arm64

      - name: Build and push image
        run: |
          TAGS="9.6,9.7,10.0,10.1"
          
          # Iterate over tags and build/push
          for tag in $(echo -e "${TAGS//,/\\n}" | uniq); do
              echo "Building mediussi/rocky-with-tools:$tag"
          
              # set --provenance=false to force pushing a docker manifest (not oci)
              # https://github.com/docker/buildx/issues/1509#issuecomment-1378454396
              docker buildx build . \
              --platform linux/amd64,linux/arm64 \
              --build-arg "ROCKYLINUX_VERSION=$tag" \
              --tag "mediussi/rocky-with-tools:$tag" \
              --provenance=false \
              --push
          done
