name: Build Container Image

on:
  workflow_dispatch:
  push:
    branches: [ main ]
    paths:
      - Dockerfile
      - .github/workflows/build.yml
  pull_request:
    branches: [ main ]
    paths:
      - Dockerfile
      - .github/workflows/build.yml
  schedule:
    - cron: '0 3 * * *' # At 02:00 AM

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

      - name: Get latest release
        id: openshift
        uses: pozetroninc/github-action-get-latest-release@master
        with:
          repository: openshift/okd

      - name: Get latest release
        id: yq
        uses: pozetroninc/github-action-get-latest-release@master
        with:
          repository: mikefarah/yq

      - name: Get latest release
        id: crane
        uses: pozetroninc/github-action-get-latest-release@master
        with:
          repository: google/go-containerregistry

      - name: Get latest release
        id: helm
        uses: pozetroninc/github-action-get-latest-release@master
        with:
          repository: helm/helm

      - name: Get latest release
        id: helm-secrets
        uses: pozetroninc/github-action-get-latest-release@master
        with:
          repository: jkroepke/helm-secrets

      - name: Get latest release
        id: sops
        uses: pozetroninc/github-action-get-latest-release@master
        with:
          repository: getsops/sops

      - name: Get latest release
        id: just
        uses: pozetroninc/github-action-get-latest-release@master
        with:
          repository: casey/just

      - name: Get latest release
        id: telepresence
        uses: pozetroninc/github-action-get-latest-release@master
        with:
          repository: telepresenceio/telepresence

      - name: Get latest release
        id: argocd
        uses: pozetroninc/github-action-get-latest-release@master
        with:
          repository: argoproj/argo-cd

      - name: Checkout
        uses: actions/checkout@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3
        with:
          platforms: linux/amd64,linux/arm64

      - name: Build and push image
        run: |
          OC_RELEASE=${{ steps.openshift.outputs.release }}
          echo "OC_RELEASE=$OC_RELEASE"
          YQ_RELEASE=${{ steps.yq.outputs.release }}
          echo "YQ_RELEASE=$YQ_RELEASE"
          CRANE_RELEASE=${{ steps.crane.outputs.release }}
          echo "CRANE_RELEASE=$CRANE_RELEASE"
          # TODO: fix this
          # HELM_RELEASE=${{ steps.helm.outputs.release }}
          HELM_RELEASE=v3.19.0
          echo "HELM_RELEASE=$HELM_RELEASE"
          HELM_SECRETS_RELEASE=${{ steps.helm-secrets.outputs.release }}
          echo "HELM_SECRETS_RELEASE=$HELM_SECRETS_RELEASE"
          SOPS_RELEASE=${{ steps.sops.outputs.release }}
          echo "SOPS_RELEASE=$SOPS_RELEASE"
          JUST_RELEASE=${{ steps.just.outputs.release }}
          echo "JUST_RELEASE=$JUST_RELEASE"
          TELEPRESENCE_RELEASE=${{ steps.telepresence.outputs.release }}
          echo "TELEPRESENCE_RELEASE=$TELEPRESENCE_RELEASE"
          ARGO_CD_RELEASE=${{ steps.argocd.outputs.release }}
          echo "ARGO_CD_RELEASE=$ARGO_CD_RELEASE"
          TAGS="9.6,9.7,10.0,10.1"
          
          # Iterate over tags and build/push
          for tag in $(echo -e "${TAGS//,/\\n}" | uniq); do
              echo "Building mediussi/rocky-with-tools:$tag"
          
              # set --provenance=false to force pushing a docker manifest (not oci)
              # https://github.com/docker/buildx/issues/1509#issuecomment-1378454396
              docker buildx build . \
              --platform linux/amd64,linux/arm64 \
              --build-arg "ROCKYLINUX_VERSION=$tag" \
              --build-arg "OC_RELEASE=$OC_RELEASE" \
              --build-arg "YQ_RELEASE=$YQ_RELEASE" \
              --build-arg "CRANE_RELEASE=$CRANE_RELEASE" \
              --build-arg "HELM_RELEASE=$HELM_RELEASE" \
              --build-arg "HELM_SECRETS_RELEASE=$HELM_SECRET_RELEASE" \
              --build-arg "SOPS_RELEASE=$SOPS_RELEASE" \
              --build-arg "JUST_RELEASE=$JUST_RELEASE" \
              --build-arg "TELEPRESENCE_RELEASE=$TELEPRESENCE_RELEASE" \
              --build-arg "ARGO_CD_RELEASE=$ARGO_CD_RELEASE" \
              --tag "mediussi/rocky-with-tools:$tag" \
              --provenance=false \
              --push
          done
